.container {
    background-color: black;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 15%;
}
.flag {
    box-sizing: border;
    border: solid 1px;
    width: 300px;
    height: 200px;
    margin: auto;
   margin-top: 50px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.radius {
    background-color: rgb(153, 19, 19);
    border-radius: 100%;
    width: 120px;
    height: 120px;
}
.diagram {
  width: 330px;
  height: 330px;
  display: flex;
  justify-content: space-around;
  border: 3px solid gray;
  align-items: flex-end;
  margin-left: 40%;
  margin-top: 80px;
}
.div1, .div2, .div3, .div4 {
    background-color: lightblue;
    width: 50px;
    display: flex;
    margin-bottom: 15px;
}
.div1 {
    height: 250px;
}
.div2 {
    height: 174px;
}
.div3 {
    height: 92px;
}
.div4 {
    height: 221px;
}